<div class="container-nav">
  <div class="nav-config">
    <p>Navegação</p>
  </div>

  <section>
    <mat-stepper orientation="vertical" linear #stepper [selectedIndex]="selectedStepIndex">

      <mat-step  completed="false" editable="{{ checkRoute() >= 0 ? false : true }}" label="Consulta"
        state="{{ checkRoute() === 0 ? 'done' : 'none' }}">
      </mat-step>

      <div *ngIf="checkRoute() === 1">
        <mat-step completed="false" label="Detalhes" state="{{ checkRoute() === 1 ? 'done' : 'none' }}">
        </mat-step>
      </div>
      <div *ngIf="checkRoute() >= 2">
        <mat-step completed="false" label="Simulações/Liquidações" state="{{ checkRoute() === 2 ? 'done' : 'none' }}">
        </mat-step>
      </div>
      <div *ngIf="checkRoute() === 3">
        <mat-step completed="false" label="Resultado da Simulação" state="{{ checkRoute() === 3 ? 'done' : 'none' }}">
        </mat-step>
      </div>

      <ng-template matStepperIcon="none">
        <mat-icon></mat-icon>
      </ng-template>
      <ng-template matStepperIcon="done">
        <mat-icon>done</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="edit">
        <mat-icon>edit</mat-icon>
      </ng-template>
    </mat-stepper>
  </section>

</div>
