<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="container-header">
          <h5>Comissões (em R$)</h5>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="center bd-bottom bd-right bd-bottom-none"> Status </th>
        <td mat-cell *matCellDef="let element" class="center bd-bottom bd-right"> {{element.status}} </td>
      </ng-container>
  
      <ng-container matColumnDef="tipoOperacao">
        <th mat-header-cell *matHeaderCellDef class="center bd-bottom bd-right bd-bottom-none"> Tipo Operação </th>
        <td mat-cell *matCellDef="let element" class="center bd-bottom bd-right"> {{element.tipoOperacao}} </td>
      </ng-container>
  
      <ng-container matColumnDef="carta">
        <th mat-header-cell *matHeaderCellDef class="center bd-bottom bd-right bd-bottom-none"> Carta </th>
        <td mat-cell *matCellDef="let element" class="center bd-bottom bd-right"> {{element.carta}} </td>
      </ng-container>
  
      <ng-container matColumnDef="dtStatus">
        <th mat-header-cell *matHeaderCellDef class="center bd-bottom bd-right bd-bottom-none"> Data Status </th>
        <td mat-cell *matCellDef="let element" class="center bd-bottom bd-right"> {{element.dtStatus}} </td>
      </ng-container>
  
      <ng-container matColumnDef="ramo">
        <th mat-header-cell *matHeaderCellDef class="center bd-bottom bd-right bd-bottom-none"> Ramo </th>
        <td mat-cell *matCellDef="let element" class="center bd-bottom bd-right"> {{element.ramo}} </td>
      </ng-container>
  
      <ng-container matColumnDef="apoliceSubapolice">
        <th mat-header-cell *matHeaderCellDef class="center bd-bottom bd-bottom-none"> Apólice/Sub-Apólice </th>
        <td mat-cell *matCellDef="let element" class="center bd-bottom"> {{element.apoliceSubapolice}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-expansion-panel>
</mat-accordion>
