:host::ng-deep {
  .mat-expansion-panel-header-title {
    color: #40bca5;
  }
  .mat-cell,
  .mat-header-cell {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.container-all {
  padding: 10px 20px;
  color: #40bca5;
}
.container-table {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
  0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.monetary {
  text-align: right !important;
}
.descriptiveText {
  text-align: start !important;
}
.infoValue {
  text-align: center !important;
}
