:host::ng-deep {
  .mat-expansion-panel-header-title {
    color: #40bca5;
  }
  .mat-cell,
  .mat-header-cell {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.container-all {
  padding: 10px 20px;
  color: #40bca5;
}

.monetary {
  text-align: right !important;
}
.descriptiveText {
  text-align: start !important;
}
.infoValue {
  text-align: center !important;
}
